<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
    <title>Hi</title>
    <style>
        body {
            background-color: #fdeff2;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        h1 {
            color: #ff69b4;
        }
        
        p {
            color: #333;
            font-size: 18px;
        }
        
        .cute-image {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Web by Lan!</h1>
    <p>Test</p>
    <iframe src="https://giphy.com/embed/KztT2c4u8mYYUiMKdJ" width="480" height="373" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cute-cats-kawaii-KztT2c4u8mYYUiMKdJ">via GIPHY</a></p>
</body>
</html>  
</body>
</html>